* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

@media (max-width:768px) {
    body {
        margin-bottom: 60px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

select {
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

.header-top.scroll-top,
.header-mid.scroll-top {
    display: none !important;
}

.header-bottom.scroll-top {
    position: fixed !important;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #FFFFFF !important;
    box-shadow: 0px 2px 20px 0px #bdbbbb;
}

.header-bottom .header-bottom-right.scroll-top {
    color: #303030;
}

.header-top {
    color: #656565;
    font-size: 15px;
    background-color: #EEEEEE;
}

.header-top select {
    border: none;
    outline: none;
}

.header-top .right {
    width: 80px;
}

.header-top .right a {
    transition: .4s;
}

.header-top .right a:hover {
    transform: translateY(2px) scale(1.1);
    color: #656565;
}

.header-mid .links {
    font-size: 20px;
    cursor: pointer;
    width: 110px;
}

.header-mid .links a:hover {
    color: initial;
}

.header-mid .links a{
    position: relative;
}

.header-mid .links a #cart-html-count{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #F4BA05;
    border-radius: 100%;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.header-bottom {
    background-color: #0465D2;
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
}

.header-bottom-right {
    padding: 0px;
    margin-right: 12px;
}

@media(max-width:1200px) {
    .header-bottom .all-categories {
        width: fit-content;
    }
}

.header-bottom .all-categories {
    background-color: #025BBF;
    cursor: pointer;
}

.header-bottom-right .mega-menu-button {
    width: fit-content;
    position: relative;
    cursor: pointer;
}

.header-bottom-right .mega-menu-button a:hover {
    color: inherit;
}

.header-bottom-right .home::after {
    opacity: 1 !important;
}

.header-bottom-right .mega-menu-button::after {
    content: '';
    position: absolute;
    background-color: #F4BA05;
    width: 74%;
    height: 4px;
    top: 65px;
    left: 11%;
    border-radius: 2px 2px 0px 0px;
    opacity: 0;
    transition: .3s;
}

.header-bottom-right .mega-menu-button:hover::after {
    opacity: 1;
}

.header-bottom-right .contact::after {
    width: 75% !important;
    left: 13% !important;
}

.header-bottom .responsive-menu i {
    font-size: 35px;
}

.all-categories {
    position: relative;
}

.all-categories-menu {
    background-color: white;
    color: #656565;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    font-weight: 400;
    height: 0px;
    overflow: hidden;
    transition: .4s;
    z-index: 1;
}

.all-categories-menu .list {
    position: relative;
}

.all-categories-menu .list-item {
    transition: .3s;
}

.all-categories-menu .list-item:hover {
    background-color: #EEEEEE;
    color: #0465D2;
    outline: #e7e1e1 1px solid;
}

.all-categories-menu .list-item i {
    font-size: 8px;
}

.all-categories-menu .mega-menu {
    background-color: white;
    position: absolute;
    width: 708px;
    overflow: hidden;
    height: 0px;
    top: 2px;
    left: 211px;
    transition: .4s;
}

.all-categories-menu .mega-menu h6 {
    color: black;
}

.all-categories-menu .mega-menu h6 a:hover {
    color: initial;
}

.all-categories-menu .mega-menu p {
    color: #656565;
    font-size: 13px;
}

.home {
    position: relative;
}

.home-menu {
    background-color: white;
    color: #656565;
    position: absolute;
    top: 70px;
    left: 0;
    width: 217px;
    font-weight: 400;
    height: 0px;
    overflow: hidden;
    transition: .4s;
    font-size: 13px;
    z-index: 1;
}

.home-menu .list-item {
    transition: .3s;
}

.home-menu .list-item:hover {
    color: #0465D2;
}

.categories-menu {
    background-color: white;
    width: 900px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 70px;
    z-index: 2;
    transition: .4s;
}

.categories-menu p {
    color: #656565;
    font-size: 13px;
}

.categories-menu h6 {
    color: black;
}

.categories-menu img {
    height: 600px;
    object-fit: contain;
    padding-top: 10px;
}

.categories-menu p a:hover {
    color: #0465D2 !important;
}

.shop-menu {
    background-color: white;
    width: 900px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 70px;
    z-index: 2;
    transition: .4s;
}

.shop-menu p {
    color: #656565;
    font-size: 13px;
}

.shop-menu p a:hover {
    color: #0465D2 !important;
}

.shop-menu h6 {
    color: black;
}

.pages {
    position: relative;
}

.page-menu {
    background-color: white;
    color: #656565;
    position: absolute;
    top: 70px;
    left: 0;
    width: 217px;
    font-weight: 400;
    height: 0px;
    overflow: hidden;
    transition: .4s;
    font-size: 13px;
    z-index: 1;
}

.page-menu .list-item {
    transition: .3s;
}

.page-menu .list-item:hover {
    color: #0465D2;
}

.store {
    position: relative;
}

.store-menu {
    background-color: white;
    color: #656565;
    position: absolute;
    top: 70px;
    left: 0;
    width: 217px;
    font-weight: 400;
    height: 0px;
    overflow: hidden;
    transition: .4s;
    font-size: 13px;
    z-index: 1;
}

.store-menu .list-item {
    transition: .3s;
}

.store-menu .list-item:hover {
    color: #0465D2;
}

.special {
    position: relative;
}

.special-menu {
    background-color: white;
    color: #656565;
    position: absolute;
    top: 70px;
    left: 0;
    width: 217px;
    font-weight: 400;
    height: 0px;
    overflow: hidden;
    transition: .4s;
    font-size: 13px;
    z-index: 1;
}

.special-menu .list-item {
    transition: .3s;
}

.special-menu .list-item:hover {
    color: #0465D2;
}

footer .offer {
    background-image: url(https://ninetheme.com/themes/venam/v1/wp-content/uploads/2021/05/limited_offer_bg.jpg);
}

footer .offer .left {
    max-width: 543px;
}

footer .offer .right {
    max-width: 443px;
    height: 92px;
}

footer .offer h6 {
    color: #FF6000;
}

footer .offer h1 {
    color: #fff;
}

footer .offer a {
    background-color: #fff;
    color: #FF6000;
    padding: 10px 35px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .3s;
}

footer .offer a:hover {
    background-color: #FF6000;
    color: #fff;
}

footer .offer .upto {
    display: inline-block;
    color: #FF6000;
    transform: rotate(-90deg);
}

footer .offer .price {
    background-color: #FF6000;
    color: white;
    font-weight: 700;
    padding: 8px 20px;
    font-size: 25px;
}

footer .offer .off {
    color: #fff;
    font-weight: 600;
}

footer .subscribe input {
    outline: none;
    width: 60%;
    border: transparent solid 1px;
    border-radius: 4px 0px 0px 4px;
    padding: 0px 15px;
    font-size: 13px;
    color: #656565;
    height: 100%;
}

footer .subscribe .button {
    width: 30%;
    background-color: #F7BA01;
    color: #22252A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    height: 100%;
    font-weight: 600;
    transition: .3s;
}

footer .subscribe .button:hover {
    background-color: #22252A;
    color: white;
}

footer .subscribe .right {
    height: 50px;
    max-width: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .subscribe .left p {
    color: #656565;
}

footer .find-out .main,
footer .find-out .links {
    color: #656565;
    font-weight: 400;
    font-size: 14px;
}

footer .find-out span {
    color: #e7e1e1;
    font-weight: 100;
    font-size: 20px;
}

footer .main-footer p {
    color: #656565;
    font-weight: 400;
    font-size: 14px;
}

footer .main-footer .left p {
    line-height: 30px;
}

footer .footer-bottom {
    background-color: #303030;
}

footer .footer-bottom .copyright {
    color: #656565;
}

#to-top-btn {
    background-color: #F4BA05;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 11px;
    border-radius: 5px;
    position: fixed;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
    transition: .3s;
}

#to-top-btn:hover {
    color: #0465D2;
}

.mobile-navbar,
.mobile-navbar a {
    height: 60px;
    color: #a2a2a2;
}

.mobile-navbar a,
.mobile-navbar .search,
.mobile-navbar .wishlist {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider {
    background-image: url(https://ninetheme.com/themes/venam/v1/wp-content/uploads/2021/05/slider_bg.jpg);
}

.slider h1 {
    font-size: 67px;
}

.slider h5 {
    font-size: 42px;
    font-weight: 300;
}

.slider a {
    font-weight: 600;
    background-color: #0465D2;
    color: white;
}

.slider a:hover {
    background-color: #303030;
    color: white;
}

.slider .slide-1,
.slider .slide-2 {
    display: flex;
    justify-content: space-between;
}

@media (max-width:992px) {

    .slider .slide-1,
    .slider .slide-2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        text-align: center;
    }

    .slider h1 {
        font-size: 38px;
    }

    .slider h5 {
        font-size: 33px;
        font-weight: 300;
    }
}

.super-deal .header {
    font-size: 27px;
    font-weight: 600;
}

.super-deal .header .end-in {
    font-weight: 300;
}

.super-deal .header #timer>span {
    font-size: 12px;
    font-weight: 700;
    background-color: #303030;
    color: white;
    height: 46px;
    width: 50px;
    border-radius: 4px;
}

.super-deal .header #timer>span:last-child {
    background-color: #F4BA05;
}

.super-deal .header #timer #hour,
.super-deal .header #timer #minute,
.super-deal .header #timer #second {
    font-size: 20px;
}

.super-deal .header .view-more {
    font-size: 14px;
    color: #303030;
    letter-spacing: 1px;
}

.super-deal .header .view-more a,
.super-deal .header .view-more i {
    transition: .3s;
}

.super-deal .header .view-more a:hover i {
    background-color: #0465D2;
    color: #fff;
}

.super-deal .body .card {
    text-align: center;
    position: relative;
}

.super-deal .body .card .card-title {
    color: #303030;
    font-size: 17px;
}

.super-deal .body .card .card-title a {
    transition: .3s;
}

.super-deal .body .card .card-text {
    color: #FF6000;
    font-weight: 600;
}

.super-deal .body .card .card-options {
    overflow: hidden;
    position: absolute;
    top: 140px;
    opacity: 0;
    left: 0;
    transition: .4s;
}

.super-deal .body .card:hover .card-options {
    top: 128px;
    opacity: 1;
}

.super-deal .body .card .card-options .top {
    background-color: white;
}

.super-deal .body .card .card-options .top i {
    cursor: pointer;
}

.super-deal .body .card .card-options .bottom {
    color: #fff;
    background-color: #494848;
    font-size: 13px;
    font-weight: 600;
}

.super-deal .body .card .card-options .bottom span {
    cursor: pointer;
}

.advantages i {
    font-size: 40px;
    color: #7a7878;
    transition: .3s;
}

.advantages h5 {
    font-size: 15px;
    transition: .3s;
}

.advantages p {
    font-size: 14px;
    font-weight: 500;
    color: #494848;
}

.advantages .advantage:hover i {
    transform: scale(1.3);
}

.advantages .advantage:hover h5 {
    color: #0465D2;
}

.deals {
    background-color: #F2F2F2;
}

.deals .card-samsung {
    height: 300px;
    overflow: hidden;
    border-radius: 4px;
}

.deals .card-samsung .card-title {
    font-size: 18px;
}

.deals .card-samsung .card-subtitle {
    font-size: 28px;
}

.deals .card-samsung .card-link {
    background-color: #FF6000;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.deals .deals-top h5 {
    font-size: 13px;
    color: #FF6000;
}

.deals .deals-top h1 {
    font-size: 30px;
}

.deals .deals-top a {
    font-size: 14px;
    color: #FF6000;
    font-weight: 500;
}

.product-card {
    text-align: center;
    position: relative;
}

.product-card .card-title {
    color: #303030;
    font-size: 17px;
}

.product-card .card-title a {
    transition: .3s;
}

.product-card .card-text {
    color: #FF6000;
    font-weight: 600;
}

.product-card .card-options {
    overflow: hidden;
    position: absolute;
    top: 220px;
    opacity: 0;
    left: 0;
    transition: .4s;
}

.product-card:hover .card-options {
    top: 190px;
    opacity: 1;
}

.product-card .card-options .top {
    background-color: white;
}

.product-card .card-options .top i {
    cursor: pointer;
}

.product-card .card-options .bottom {
    color: #fff;
    background-color: #494848;
    font-size: 13px;
    font-weight: 600;
}

.product-card .card-options .bottom span {
    cursor: pointer;
}

.product-card .img-container {
    height: 48%;
}

.product-card .card-body {
    height: 20%;
    padding-top: 30px;
}

.product-card .card-bottom {
    height: 32%;
}

.product-card .card-bottom .sold {
    font-size: 12px;
    font-weight: 500;
}

.progress {
    width: 80%;
    height: 6px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background-color: #F4BA05;
    border-radius: 6px;
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 12px;
    color: white;
}

.card-bottom-3 {
    font-weight: 500;
    font-size: 15px;
}

.card-bottom-4 #timer>span {
    font-size: 10px;
    font-weight: 700;
    background-color: #303030;
    color: white;
    height: 40px;
    width: 50px;
    border-radius: 4px;
}

.card-bottom-4 #timer>span:last-child {
    background-color: #F4BA05;
}

.card-bottom-4 #timer #hour,
.card-bottom-4 #timer #minute,
.card-bottom-4 #timer #second,
.card-bottom-4 #timer #day {
    font-size: 17px;
}

.featured .header p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.featured .header a {
    font-size: 15px;
    color: #FF6000;
    font-weight: 500;
}

.featured .card {
    transition: .3s;
}

.featured .card:hover {
    border-color: black !important;
}

.featured .card .card-title a {
    font-size: 16px;
    transition: .3s;
}

.featured .card .card-title a:hover {
    color: #FF6000;
}

.featured .card .card-text {
    color: #FF6000;
}

.best-selling .best-selling-header h5 {
    color: #FF6000;
    font-size: 12px;
}

.best-selling .best-selling-header h1 {
    font-size: 33px;
}

.best-selling .best-selling-header .category-selection {
    background-color: #F2F2F2;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #656565;
    letter-spacing: .5px;
}

.best-selling .best-selling-header .category-selection .category-selection-item {
    cursor: pointer;
    transition: .3s;
}

.active-category-selection-item {
    color: #FF6000 !important;
}

.best-selling .product-card .card-bottom .price {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
}

.best-selling .product-card .card-bottom .discounted-price {
    color: #FF6000;
    font-size: 17px;
    font-weight: 500;
}

.best-selling .product-card .card-bottom a {
    transition: .3s;
    font-weight: 500;
}

.best-selling .product-card .card-bottom a:hover {
    color: #FF6000;
}

.best-selling .product-card .card-options {
    overflow: hidden;
    position: absolute;
    top: 250px;
    opacity: 0;
    left: 0;
    transition: .4s;
}

.best-selling .product-card:hover .card-options {
    top: 215px;
    opacity: 1;
}

.best-selling .product-card .img-1 {
    display: block;
}

.best-selling .product-card:hover .img-1 {
    display: none;
}

.best-selling .product-card .img-2 {
    display: none;
}

.best-selling .product-card:hover .img-2 {
    display: block;
}

.most-popular {
    background-color: #F2F2F2;
}

.most-popular .most-popular-header h5 {
    color: #FF6000;
    font-size: 12px;
}

.latest-news .latest-news-header h1 {
    font-size: 33px;
}

.latest-news .latest-news-header h5 {
    color: #FF6000;
    font-size: 12px;
}

.latest-news .latest-news-header h1 {
    font-size: 33px;
}

.latest-news .product-card .card-body h1 a {
    font-size: 20px;
    transition: .3s;
}

.latest-news .product-card .card-body a:hover {
    color: #FF6000;
}


.latest-news .product-card .card-body .links a {
    color: #656565;
    font-size: 13px;
    font-weight: 500;
    transition: .3s;
}

.latest-news .product-card .card-body .links a:hover {
    color: #FF6000;
}

.latest-news .product-card .card-body p {
    color: #656565;
}

.latest-news .product-card .card-body a {
    transition: .3s;
}